.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 6px 10px;
    font-size: 18px;
    gap: 5px;
    border: none;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    transition: .3s;
}
.btn:hover {
    background-color:blue;
}
.btn:active {
    background-color:var(--btn-text-color);
    color: var(--btn-bg-color);
}